/* Universal Styles */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #404040;
}

.main-content {
    position: relative;
    top: 64px;  /* To offset for fixed header. */
}

.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 24px;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

.bigpic {
    width: 100%;
    height: auto;
}

/* Header */

header {
    position: fixed;
    z-index: 64;
    width: 100%;
    height: 64px;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.logo {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
}

.bold {
    font-weight: 700;
}

header nav ul {
    display: flex;
}

nav li {
    float: left;
    padding-left: 16px;
    text-decoration: none;
    list-style: none;
}

nav a {
    color: black;
}

/* Banner Section */

.banner {
    width: 100%;
    display: flex;
    background-color: lightgrey;
}

.banner-pic {
    width: 60%;
    padding: 32px 24px;
}

.cta {
    width: 40%;
    margin: auto;
    padding: 16px;
}

.cta-items {
    width: 85%;
}

.cta-text {
    font-size: 2.2rem;
    padding: 36px 0px;
    font-weight: 500;
}

button {
    padding: 8px;
    background-color: #404040;
    color: white;
    font-size: 1.5rem;
    width: 95%;
}

/* Info Section */

.info {
    width: 100%;
    display: flex;
}

.info-main {
    width: 60%;
    padding: 32px 24px;
}

.triple-info {
    width: 40%;
    margin: auto;
    padding: 16px 0;
}

.triple-info-section {
    display: flex;
    flex-direction: row;
}

.tiny-square-pic {
    height: auto;
    width: 35%;
    padding: 16px;
}

.triple-info-text {
    width: 65%;
    margin: auto;
    padding: 16px;
}

.quote {
    font-size: 1.5rem;
    font-weight: 500;
    color: #606060;
}

.credit {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 24px;
    color: #606060;
}

.details {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 0;
    color: #606060;
}

.triple-info-text a {
    color: cornflowerblue;
    font-size: 1.5rem;
}

.highlight {
    background-color: lightgrey;
}

/* Start Section */

.start-container {
    background-color: lightgrey;
}

.start-title {
    width: 100%;
    padding: 32px;
    text-align: center;
}

.start-tiles-container {
    margin: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start-tile {
    flex-grow: 0;
    flex-basis: 32%;
    margin-bottom: 2%;
    max-width: 532px;
}

.tile-image {
    height: auto;
    width: 100%;
}

.tile-text {
    padding: 16px 16px 24px 16px;
    background-color: white;
    min-height: 163px;
}

.courses {
    padding-top: 8px;
    font-size: 1.25rem;
    color: #606060;
}