/* Universal Styles */

html {
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    color: #454545;
    overflow-x: hidden;
}

.main-content {
    position: relative;
    top: 64px;  /* To offset for fixed header. */
}

.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #303050;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 24px;
    color: #303050;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #303050;
}

.bigpic {
    width: 100%;
    height: auto;
}

/* Header */

header {
    position: fixed;
    z-index: 64;
    width: 100%;
    height: 64px;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.logo {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
}

.bold {
    font-weight: 800;
}

header nav ul {
    display: flex;
}

nav li {
    float: left;
    padding-left: 16px;
    text-decoration: none;
    list-style: none;
}

nav a {
    color: black;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 760px) {
    .logo {
        display: none;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        width: 100%;
    }

    .mobile-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

/* Banner Section */

.banner {
    width: 100%;
    display: flex;
    background-color: lightgrey;
}

.banner-pic {
    width: 60%;
    padding: 32px 24px;
}

.cta {
    width: 40%;
    margin: auto;
    padding: 16px;
}

.cta-items {
    width: 85%;
}

.cta-text {
    font-size: 2rem;
    padding: 36px 0px;
    font-weight: 500;
}

button {
    padding: 12px;
    background-color: #303050;
    color: white;
    font-size: 1.4rem;
    width: 95%;
}

@media only screen and (max-width: 760px) {
    .banner {
        flex-direction: column;
    }

    .banner-pic {
        width: 100%;
        padding: 0 0 32px 0;
    }

    .cta {
        width: 100%;
    }

    .cta-items {
        width: 100%;
    }

    .cta-text {
        padding: 32px auto 24px 16px;
    }

    button {
        margin-bottom: 32px;
    }
}

/* Info Section */

.info {
    width: 100%;
    display: flex;
}

.info-main {
    width: 60%;
    padding: 32px 24px;
}

.triple-info {
    width: 40%;
    margin: auto;
    padding: 16px 0;
}

.triple-info-section {
    display: flex;
    flex-direction: row;
}

.tiny-square-pic {
    height: auto;
    width: 35%;
    padding: 16px;
}

.triple-info-text {
    width: 65%;
    margin: auto;
    padding: 16px;
}

.horizontal-pic {
    display: none;
}

.quote {
    font-size: 1.4rem;
    font-weight: 500;
    color: #606060;
}

.credit {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 24px;
    color: #606060;
}

.details {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 0;
    color: #606060;
}

.triple-info-text a {
    color: cornflowerblue;
    font-size: 1.4rem;
}

.highlight {
    background-color: lightgrey;
}

@media only screen and (max-width: 760px) {
    .info-main {
        display: none;
    }

    .triple-info {
        width: 100%;
        padding: 16px 16px 32px 16px;
    }

    .triple-info-section {
        flex-direction: column;
    }

    .tiny-square-pic {
        display: none;
    }

    .horizontal-pic {
        display: flex;
        height: auto;
        width: 100%;
        padding: 16px;
    }

    .triple-info-text {
        width: 100%;
        padding-left: 32px;
    }

    .highlight {
        background-color: white;
    }
}

/* Start Section */

.start-container {
    background-color: lightgrey;
}

.start-title {
    width: 100%;
    padding: 32px;
    text-align: center;
}

.start-tiles-container {
    margin: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start-tile {
    flex-grow: 0;
    flex-basis: 32%;
    margin-bottom: 2%;
    max-width: 532px;
}

.tile-image {
    height: auto;
    width: 100%;
}

.tile-text {
    padding: 16px 16px 24px 16px;
    background-color: white;
    min-height: 163px;
}

.courses {
    padding-top: 12px;
    padding-bottom: 4px;
    font-size: 1.25rem;
    color: #606060;
}

.start-tiles-mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    .start-tiles-container {
        display: none;
    }

    .start-container {
        background-color: white;
        padding-bottom: 32px;
    }

    .start-title {
        padding-bottom: 16px;
        border-top: 1px solid #404040;
    }
    
    .start-tiles-mobile {
        display: flex;
        flex-direction: column;
    }

    .start-tile-mobile {
        background-color: lightgrey;
        margin: 8px 16px;
        padding: 24px;
    }

}

/* Thesis Section */

.thesis-title {
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

.thesis-main {
    width: 100%;
    display: flex;
}

.thesis-video {
    width: 60%;
    padding: 0 24px 24px 24px;
}

video {
    width: 100%;
    height: auto;
}

.thesis-info {
    width: 40%;
    margin: 0 auto auto auto;
}

.thesis-section {
    display: flex;
    flex-direction: row;
}

.thesis-info-text {
    width: 65%;
    margin: auto;
    padding: 16px;
}

@media only screen and (max-width: 760px) {
    .thesis-title {
        padding: 16px;
        border-top: 1px solid #404040;
    }

    .thesis-info, .thesis-text {
        display: none;
    }

    .thesis-video {
        width: 100%;
        padding: 0;
        margin-bottom: 24px;
    }
}

/* Footer */

footer {
    border-top: 1px solid #404040;
    display: flex;
    height: 64px;
    color: #606060;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.copyright {
    padding-left: 24px;
}

footer nav ul {
    display: flex;
    padding-right: 24px;
}

footer nav li {
    float: left;
    padding-left: 16px;
    text-decoration: none;
    list-style: none;
}

footer nav a {
    color: #606060;
}

@media only screen and (max-width: 760px) {
    footer nav {
        display: none;
    }
}